* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    /* padding: 10px; */
    position: relative;
}

.box{
    width: 150px;
    height: 150px;
    background-color:red;
    position: absolute;
    /* margin: auto; */
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    /* transform: translateX(100px); */

/*     
    position: absolute;
    animation-name: movement;
    animation-duration: 2s;
    transition-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction: normal; */


    /* left: 350px;
    top: 350px; */

    animation-name: singlemove;
}

/* .box:hover{
    transform: translateX(500px);
    background-color: yellow;
} */

/* @keyframes movement {
    0%{
        left: 0px;
        top: 0px;
        background-color: red;
    }

    25%{
        left: 350px;
        top: 0px;
        background-color: yellow;

    }

    50%{
        left: 350px;
        top: 350px;
        background-color: blue;

    }

    75%{
        left: 0px;
        top: 350px;
        background-color: green;

    }
    100%{
        left: 0px;
        top: 0px;
        background-color: red;

    }

} */


@keyframes singlemove{
    from{
        left: 0px;
        top: 0px;
    }
    to{
        left: 350px;
        top: 0px;
    }
    
}