*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #e0453f;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: #14213d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.logo{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.searchbox {
    width: 800px;
    padding: 10px 15px;
    background: lightsteelblue;
}
.navlink{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navlink a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navlink a:hover{
    color: lightblue;
}

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* LEFT SIDE */
.left{
    background-color: white;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.classification h3 {
    color: #888;
    margin-bottom: 10px;
    font-size: 30px;
}
.classification p{
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

/* RIGHT SIDE */
.right{
    width: 60%;
    background-color: #e0453f;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.content h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p{
    margin:5px 0 ;
    font-size: 1.2rem;
}
.content h2{
    margin: 15px 0 ;
    font-size: 1.8rem;
}

.btn{
    background-color: white;
    color: #e0453f;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: #333;
    color: white;
}

/* IMAGE */
.image img{
    width: 220px;
    height: auto;
    border-radius: 10px;
    /* object-fit: contain; */
    position: absolute;
    top: 20%;
    left: 1px;
}