/* 
    1.Simple Selector 
        =>ID Selector
        =>ClassNAme Selector
        =>Tagname Selector
        =>Group Selector
        =>Universal Selector
    2.Combine Selector
*/

/* ID selector */
#paragraph1{
    background-color: aqua;
}

/* ClassName Selector */
.classroomPara{
    color:red;
}

/* Tagname Selector */
h1{
    color: green;
}

/* Group Selector */
p, h1{
    font-family: 'Courier New', Courier, monospace;
}

/* Universal Selector */
*{
    font-style: oblique;
}